.swiper-button-prev {
  top: 45%;
  left: -40px;
  background-image: url('../assets/images/arrow-left.svg');
  background-color: '#000';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease;
}

.swiper-button-prev:hover {
  transform: scale(1.2);
}

.swiper-button-next {
  top: 45%;
  right: -40px;
  background-image: url('../assets/images/arrow-right.svg');
  background-color: '#000';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease;
}

.swiper-button-next:hover {
  transform: scale(1.2);
}

.swiper-pagination-bullet {
  background-color: black;
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
}
