.landingPageContainer {
  height: 100vh;
  background-image: url('../assets/images/bgc_deadpool.png');
  background-color: '#000';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
